* {
  .montserrat-<uniquifier > {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
}

/* HEADER */

header {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
}

li {
  margin-left: 4rem;
}

#logo {
  font-weight: 600;
  font-size: 1.2rem;
  border: 2px solid black;
  display: inline;
  padding: 5px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.home {
  color: black;
  font-size: 18px;
}

.portfolio {
  color: black;
  font-size: 18px;
}

.about-me {
  color: black;
  font-size: 18px;
}

.contact {
  color: black;
  font-size: 18px;
}

a {
  color: black;
}

/* MAIN */

.welcome-text {
  color: green;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

.description-text {
  color: green;
  font-size: 15px;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
}

/* POSTER SECTION */

.poster-container {
  display: grid;
  grid-template-areas: repeat(3, 1fr);
}

/* FOOTER */

footer {
  margin-top: 1rem;
  border-top: 1px solid black;
}

.copy-right {
  color: black;
  font-size: 12px;
  font-weight: bold;
}
